Weetit_webite/Service References/ServiceReference1/System.Collections.Generic.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System.Collections.Generic" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/mergedServices" />
  <xs:complexType name="ArrayOfArrayOfKeyValuePairOfstringstring">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfKeyValuePairOfstringstring" nillable="true" type="tns:ArrayOfKeyValuePairOfstringstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArrayOfKeyValuePairOfstringstring" nillable="true" type="tns:ArrayOfArrayOfKeyValuePairOfstringstring" />
  <xs:complexType name="ArrayOfKeyValuePairOfstringstring">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValuePairOfstringstring" type="tns:KeyValuePairOfstringstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValuePairOfstringstring" nillable="true" type="tns:ArrayOfKeyValuePairOfstringstring" />
  <xs:complexType name="KeyValuePairOfstringstring">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="KeyValuePairOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="key" nillable="true" type="xs:string" />
      <xs:element name="value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyValuePairOfstringstring" nillable="true" type="tns:KeyValuePairOfstringstring" />
  <xs:complexType name="ArrayOfKeyValuePairOfKeyValuePairOfstringstringArrayOfKeyValuePairOfstringstringwAe_SQn3R">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValuePairOfKeyValuePairOfstringstringArrayOfKeyValuePairOfstringstringwAe_SQn3R" type="tns:KeyValuePairOfKeyValuePairOfstringstringArrayOfKeyValuePairOfstringstringwAe_SQn3R" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValuePairOfKeyValuePairOfstringstringArrayOfKeyValuePairOfstringstringwAe_SQn3R" nillable="true" type="tns:ArrayOfKeyValuePairOfKeyValuePairOfstringstringArrayOfKeyValuePairOfstringstringwAe_SQn3R" />
  <xs:complexType name="KeyValuePairOfKeyValuePairOfstringstringArrayOfKeyValuePairOfstringstringwAe_SQn3R">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="KeyValuePairOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="KeyValuePairOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic">
            <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
            <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
          </GenericParameter>
          <GenericParameter Name="ArrayOfKeyValuePairOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic">
            <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
            <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
          </GenericParameter>
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="key" type="tns:KeyValuePairOfstringstring" />
      <xs:element name="value" nillable="true" type="tns:ArrayOfKeyValuePairOfstringstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyValuePairOfKeyValuePairOfstringstringArrayOfKeyValuePairOfstringstringwAe_SQn3R" nillable="true" type="tns:KeyValuePairOfKeyValuePairOfstringstringArrayOfKeyValuePairOfstringstringwAe_SQn3R" />
  <xs:complexType name="ArrayOfKeyValuePairOfstringArrayOfEntityzneDqt_Pt">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValuePairOfstringArrayOfEntityzneDqt_Pt" type="tns:KeyValuePairOfstringArrayOfEntityzneDqt_Pt" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValuePairOfstringArrayOfEntityzneDqt_Pt" nillable="true" type="tns:ArrayOfKeyValuePairOfstringArrayOfEntityzneDqt_Pt" />
  <xs:complexType name="KeyValuePairOfstringArrayOfEntityzneDqt_Pt">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="KeyValuePairOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="ArrayOfEntity" Namespace="http://schemas.datacontract.org/2004/07/mergedServices" />
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="key" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/mergedServices" name="value" nillable="true" type="q1:ArrayOfEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyValuePairOfstringArrayOfEntityzneDqt_Pt" nillable="true" type="tns:KeyValuePairOfstringArrayOfEntityzneDqt_Pt" />
</xs:schema>